<h2> <%= @date %> -- <%= @total %> </h2>
<% @data.each_with_index do |cycle, idx| %>
  <h3> <%= idx + 1 %> </h3>
  <p>Focus: <%= format_time_object(cycle[:focus_start_time])%> - <%= format_time_object(cycle[:rest_start_time])%></p>
  <p>Rest: <%= format_time_object(cycle[:rest_start_time])%> - <%= format_time_object(cycle[:rest_end_time])%></p>
  <p>Total: <%= formatted_duration(cycle[:cycle_duration]) %></p>
<% end %>
